.text-field{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #000;
    width: 60px;
    height: 28px;
    border-radius: 5px;
}
.button{
    height: 30px;
    width: 120px;
    border-radius: 5px;
    border: 1px solid gray;
}
.upper-container{
    display: flex;
    justify-content: center;
    gap: 10px;
}
.heading{
    text-align: center;
}
.lower-container{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.main-content{
    border: 1px solid #000;
    width: 400px;
    height: 170px;
    margin: auto;
}